* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header, footer {
    display: flex;
}

.caixinha {
    height: 5rem;
    margin: 5px;
    width: 50%;
    background-color: rgb(240, 161, 59);
}

.section-caixa {
    display: flex;
    flex-direction: row;
}

.caixa1 {
    height: 5rem;
    width: 100%;
    margin: 5px;
    background-color: rgba(81, 91, 231, 0.897);
}

.article {
    height: 10rem;
    background-color: rgb(112, 216, 14);
}
.caixa2 {
    background-color: rgb(219, 219, 219);
    height: 5rem;
    width: 25%;
    margin: 5px;
}

@media (max-width: 320px) {
    header {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }

    article {
        height: 100px;
        width: 100%;
    }

    section-caixa {
        flex-direction: column;
        width: 100%;
    }

    .caixa1 {
        width: 100%;
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    section-caixa {
        flex-direction: column;
        width: 100%;
    }

    .caixa1 {
        width: 50%;
    }

    .caixa2 {
        width: 100%;
    }
}
